@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css?family=Zen Antique:700|Zen Antique:400');


:root {
  font-family: 'Zen Antique', sans-serif;
  --text: #141514;
  --background: #eceeed;
  --primary: #cacace;
  --secondary: #dad7d9;
  --accent: #77766e;
}

html {
  color: var(--text);
}

.scroll-none::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-none {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}